/* 
*********************************
 Subject:  CGD 200/210: Dreamweaver I/II (Winter 2024)
 Author: Edilvan E. Falcon
 Instructor: David Kazaryan
 Date Created: 2024.01.06
 Description: Assignment No. 2
 - Create a slide-out website Navigation
 ******************************** 
 */

 @import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;&family=Young+Serif&display=swap');
 
 header {
  div.hamburger {
    overflow: hidden;
    width: 50px;
    padding: 5px 0;
    span {
      height: 5px;
      width: 50px;
      display: block;
      margin-bottom: 10px;
      background-color: #000;
      position: relative;
      top: 0;
      left: 0;
      transition: top 0.2s 0.2s linear, transform 0.2s 0s linear, left 0s 0.2s;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .checkbox {
    display: none;
  }
  .checkbox:checked ~ nav {
    position: relative;
    left: 0;
  }
  .checkbox:checked ~ label {
    .hamburger {
      span {
        transition: top 0.2s 0s linear, transform 0.2s 0.2s linear, left 0s 0.2s;
      }
      span:nth-child(1) {
        top: 15px;
        transform: rotateZ(45deg);
      }
      span:nth-child(2) {
        left: 100%;
      }
      span:nth-child(3) {
        top: -15px;
        transform: rotateZ(-45deg);
      }
    }
  }
  nav {
    position: relative;
    left: -200px;
    transition: all 1s ease;
    width: 200px;
  }
}

section {
  font-family: 'Young Serif', serif;
  font-size: 25px; 
  font-weight: lighter;
}

#bro-ipsum { border-top: solid 3px #000; }
#delo-ipsum { border-top: solid 3px #000; }
#hip-ipsum { border-top: solid 3px #000; }
#cheese-ipsum { border-top: solid 3px #000; }
#skate-ipsum { border-top: solid 3px #000; }
